.accordion-faq {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.accordion-faq__element {
  padding: 40px 40px 39px;
  border: 1px $color-cerulean-blue solid;
  border-radius: 16px;

  @include vp-1199 {
    padding: 30px;
  }

  @include vp-767 {
    padding: 20px 15px;
  }

  &:not(:last-child) {
    margin: 0 0 10px;
  }
}

.accordion-faq__element--custom {
  padding: 32px 40px;

  @include vp-1199 {
    padding: 25px 30px 23px;
  }

  @include vp-767 {
    padding: 20px 15px;
  }

  .accordion-faq__button {
    position: relative;
    bottom: 5px;

    @include vp-1199 {
      bottom: 2px;
    }
  }
}

.accordion-faq__element.is-active {
  background-color: $color-cerulean-blue;
  padding: 40px 40px 21px;

  @include vp-1199 {
    padding: 30px 30px 20px;
  }

  @include vp-767 {
    padding: 20px 15px 8px;
  }

  h3 {
    color: $color-default-white;
  }

  .accordion-faq__button {
    background-color: $color-default-white;
    border: none;
    transition: all 0.2s;

    &::before {
      background-color: $color-cerulean-blue;
    }

    &::after {
      display: none;
    }

    &:not(:disabled) {
      @include hover-focus {
        background-color: $color-transparent;
        border: 1px $color-default-white solid;

        cursor: pointer;
        transition: all 0.2s;

        &::before {
          background-color: $color-default-white;
        }
      }

      @include active-button {
        background-color: $color-default-white;
        border: none;
        transition: all 0.2s;

        &::before {
          background-color: $color-endeavour;
        }
      }
    }
  }
}

.accordion-faq__element--custom.is-active {
  padding: 32px 40px 21px;

  @include vp-1199 {
    padding: 25px 30px 23px;
  }
}

.accordion-faq__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-family: "Manrope", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: $color-cerulean-blue;
    letter-spacing: -0.9px;

    width: 65%;
    margin: 0;

    @include vp-1199 {
      font-size: 22px;
      line-height: 26px;
      letter-spacing: -0.7px;

      width: 80%;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
      letter-spacing: -0.6px;
    }
  }
}

.accordion-faq__button {
  position: relative;

  width: 39px;
  height: 39px;

  background-color: $color-cerulean-blue;
  border-radius: 50%;
  border: 1px $color-cerulean-blue solid;

  transition: all 0.2s;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 18px;
    height: 1px;
    margin: auto;

    background-color: $color-default-white;
    content: "";
  }

  &::after {
    transform: rotate(90deg);
  }

  &:not(:disabled) {
    @include hover-focus {
      background-color: $color-transparent;
      border: 1px $color-cerulean-blue solid;

      cursor: pointer;
      transition: all 0.2s;

      &::after,
      &::before {
        background-color: $color-cerulean-blue;
      }
    }

    @include active-button {
      background-color: $color-endeavour;
      border: 1px $color-endeavour solid;
      transition: all 0.2s;

      &::after,
      &::before {
        background-color: $color-default-white;
      }
    }
  }

  &:disabled {
    background-color: $color-mischka;
    border: 1px  $color-mischka solid;
    pointer-events: none;

    &::after,
    &::before {
      background-color: $color-default-white;
    }
  }
}

.accordion-faq__content {
  p {
    font-family: "Manrope", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $color-alabaster;
    letter-spacing: -0.5px;

    width: 70%;
    margin: 0;
    padding: 14px 0 11px;

    @include vp-1199 {
      line-height: 20px;
      width: 90%;
      padding: 16px 0 5px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;

      width: auto;
      padding: 15px 0 5px;
    }
  }
}
