.accordion-faq {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.accordion-faq__element {
  padding: 40px;
  border: 1px $color-cerulean-blue solid;
  border-radius: 16px;

  &:not(:last-child) {
    margin: 0 0 10px;
  }
}

.accordion-faq__element.is-active {
  background-color: $color-cerulean-blue;
  padding: 40px 40px 20px;

  h3 {
    color: $color-default-white;
  }
}

.accordion-faq__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-family: "Manrope", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: $color-cerulean-blue;
    letter-spacing: -1px;

    width: 63%;
    margin: 0;
  }
}

.accordion-faq__button {
  position: relative;

  width: 39px;
  height: 39px;

  background-color: $color-cerulean-blue;
  border-radius: 50%;
  border: 1px $color-cerulean-blue solid;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 18px;
    height: 1px;
    margin: auto;

    background-color: $color-default-white;
    content: "";
  }

  &::after {
    transform: rotate(90deg);
  }
}

.accordion-faq__wrapper {
  p {
    font-family: "Manrope", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $color-alabaster;

    margin: 0;
    padding: 12px 200px 12px 0;
  }
}
