.advantages {
  padding: 70px 106px 56px;
  background-color: $color-cerulean-blue;
  border-radius: 20px;

  grid-column: span 2;

  @include vp-1199 {
    padding: 40px;
  }

  @include vp-767 {
    padding: 42px 20px 17px 30px;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;
  gap: 32px;
  list-style-type: none;

  @include vp-1199 {
    gap: 21px 30px;
  }

  @include vp-767 {
    display: block;
  }
}

.advantages__item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 29px 47px 29px 59px;
  margin: 22px 0 0 20px;

  border: 1px $color-default-white solid;
  border-radius: 16px;
  gap: 0 10px;

  &--1 {
    h3 {
      width: 154px;
    }

    p {
      width: 190px;
    }
  }

  &--2 {
    h3 {
      width: 170px;
    }

    p {
      width: 180px;
    }
  }

  &--3 {
    h3 {
      width: 154px;
    }

    p {
      width: 190px;
    }
  }

  &--4 {
    h3 {
      width: 170px;
    }

    p {
      width: 177px;

      @include vp-1199 {
        padding: 0 15px 0 0;
      }

      @include vp-767 {
        padding: 0 50px 0 0
      }
    }
  }

  @include vp-1199 {
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    width: auto;
    padding: 30px 42px 25px 30px;

    gap: 0;
  }

  @include vp-767 {
    display: block;
    max-width: none;
    padding: 20px 15px 23px 20px;
    margin: 0 0 22px;
  }

  h3 {
    font-family: "Manrope", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: $color-default-white;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    margin: 0;

    @include vp-1199 {
      font-size: 20px;
      line-height: 22px;
      letter-spacing: -0.6px;

      width: auto;
      padding: 0 60px 0 0;
      margin: 0 0 7px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.5px;

      padding: 0;
      margin: 0 0 4px;
    }
  }

  p {
    font-family: "Manrope", "Arial", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: $color-alabaster;
    letter-spacing: -0.6px;

    margin: 0;

    @include vp-1199 {
      width: auto;
    }

    @include vp-767 {
      font-size: 14px;
      padding: 0 35px 0 0;
    }
  }

  &::after {
    position: absolute;
    top: -23px;
    left: -20px;

    width: 42px;
    height: 42px;

    background-color: $color-cerulean-blue;
    background-image: url("../img/svg/star.svg");
    background-position: center;
    background-repeat: no-repeat;
    content: "";

    @include vp-1199 {
      left: -21px;
    }

    @include vp-767 {
      background-size: 14px 18px;
    }
  }
}
