.button {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 4px 4px 4px 30px;

  border-radius: 30px;
  border: 1px $color-cerulean-blue solid;
  background-color: $color-transparent;
  gap: 30px;

  user-select: none;
  transition: all 0.2s;
  cursor: pointer;

  .button__incription {
    font-family: "Manrope", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: $color-cerulean-blue;
    letter-spacing: -0.4px;

    text-transform: uppercase;
  }

  svg {
    stroke: $color-default-white;

    width: 46px;
    height: 46px;
    padding: 0 17px;

    border-radius: 44px;
    background-color: $color-cerulean-blue;

    transition: all 0.3s;
  }

  &:not(:disabled) {
    @include hover-focus {
      background-color: $color-cerulean-blue;
      outline: none;

      transition: all 0.2s;

      cursor: pointer;

      .button__incription {
        color: $color-default-white;
        transition: all 0.2s;
      }

      svg {
        background-color: $color-default-white;
        stroke: $color-cerulean-blue;

        transform: rotate(45deg);
        transition: all 0.3s;
      }
    }

    @include active-button {
      background-color: $color-cerulean-blue;

      .button__incription {
        color: $color-white-opacity-70;
        transition: all 0.2s;
      }

      svg {
        background-color: $color-default-white;
        stroke: $color-cerulean-blue-opacity;

        transform: rotate(45deg);
        transition: all 0.3s;
      }
    }
  }

  &:disabled {
    border: 1px $color-mischka solid;
    cursor: initial;

    .button__incription {
      color: $color-mischka;
      pointer-events: none;
    }

    svg {
      background-color: $color-mischka;
      pointer-events: none;
    }
  }
}

.button--secundary {
  border: 1px $color-default-white solid;

  .button__incription {
    color: $color-default-white;
    width: 240px;
  }

  svg {
    stroke: $color-cerulean-blue;
    background-color: $color-default-white;
  }
}
