.custom-select {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 15px;

  @include vp-1199 {
    margin: 0 0 13px;
  }

  @include vp-767 {
    margin: 0 0 20px;

    &--dark {
      margin: 0 0 14px;
    }
  }

  select {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }

  &.is-disabled {
    pointer-events: none;

    .custom-select__list {
      display: none;
    }
  }

  &.open-up {
    .custom-select__list {
      bottom: auto;
      top: 0;
      transform: translateY(calc(-100% + 10px));
    }
  }

  &.is-open {
    .custom-select__button {
      border: 1px $color-default-white solid;

      &--dark {
        border: 1px $color-charcoal solid;
      }
    }

    .custom-select__description {
      opacity: 1;
    }

    .custom-select__list {
      visibility: visible;
      max-height: 144px;
    }

    .custom-select__icon {
      transform: rotate(180deg);
    }

    .custom-select__label {
      opacity: 0;
    }
  }

  &.not-empty {
    .custom-select__text {
      opacity: 1;
    }

    .custom-select__label {
      opacity: 0;
    }

    .custom-select__placeholder {
      opacity: 0;
    }
  }

  &.is-invalid {
    .custom-select__error {
      opacity: 1;
    }

    .custom-select__button {
      border: 1px $color-wild-watermelon solid;


      @include hover-focus {
        border: 1px $color-default-white solid;
      }
    }
  }

  &.slide-up.not-empty,
  &.slide-up.is-open {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    .custom-select__text {
      opacity: 1;
    }
  }
}

.custom-select__description {
  font-family: "Manrope", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-alabaster;
  letter-spacing: -0.5px;

  display: block;
  margin: 0 0 9px;

  opacity: 0.8;
  order: -1;

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 12px;
  }

  &--dark {
    color: $color-charcoal;

    @include vp-767 {
      font-size: 14px;
      margin: 0 0 8px;
    }
  }
}

.custom-select__label {
  position: absolute;
  top: 50%;
  left: 10px;

  transform: translateY(-50%);

  transition: transform 0.3s ease, opacity  0.3s ease;

  pointer-events: none;
}

.custom-select__placeholder {
  position: absolute;
  top: 50%;
  left: 10px;

  transform: translateY(-50%);

  transition: transform 0.3s ease, opacity 0.3s ease;

  pointer-events: none;
}

.custom-select__button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 51px;
  padding: 5px 20px 5px 10px;

  background-color: rgba(255, 255, 255, 0);
  border: 1px $color-white-opacity solid;
  border-radius: 5px;
  outline: none;
  cursor: pointer;

  transition: border 0.2s ease;

  @include vp-767 {
    height: 49px;
  }

  @include hover {
    border: 1px $color-default-white solid;

    ~ .custom-select__description {
      opacity: 1;
      transition: all 0.2s;
    }
  }

  @include focus {
    border: 1px $color-default-white solid;

    .custom-select__icon {
      transform: rotate(180deg);
    }

    ~ .custom-select__description {
      opacity: 1;
      transition: all 0.2s;
    }
  }

  @include active {
    border: 1px $color-default-white solid;

    .custom-select__icon {
      transform: rotate(180deg);
    }
  }

  &--dark {
    border: 1px $color-charcoal-opacity solid;

    @include vp-767 {
      height: 44px;
    }

    @include hover {
      border: 1px $color-charcoal solid;
    }

    @include focus {
      border: 1px $color-charcoal solid;
    }

    @include active {
      border: 1px $color-charcoal solid;
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}

.custom-select__list {
  position: absolute;
  bottom: -4px;
  z-index: 2;

  width: 100%;
  max-height: 0;
  margin: 0;
  padding: 0;
  overflow-y: auto;

  list-style: none;

  background-color: $color-default-white;
  border: 1px $color-default-white solid;
  border-radius: 8px;
  transform: translateY(100%);
  visibility: hidden;

  transition: visibility 0.3s ease, max-height 0.3s ease;

  &--dark {
    border: 1px $color-charcoal solid;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.custom-select__item {
  letter-spacing: -0.5px;

  padding: 12px 20px;

  outline: none;
  cursor: pointer;

  transition: background-color 0.3s ease;

  &[aria-selected="true"] {
    color: $color-default-white;
    background-color: $color-cerulean-blue;
  }

  @include hover-focus {
    color: $color-default-white;
    background-color: $color-cerulean-blue;
  }
}

.custom-select__text {
  font-family: "Manrope", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-alabaster;

  flex-shrink: 0;
  width: 80%;
  overflow: hidden;

  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;

  opacity: 0;

  transition: opacity 0.3s ease 0.1s;

  br {
    display: none;
  }

  &--dark {
    color: $color-charcoal;
  }
}

.custom-select__icon {
  flex-shrink: 0;
  width: 15px;
  height: 7px;
  margin-left: auto;

  background-color: $color-default-white;

  transition: transform 0.3s ease;

  clip-path: polygon(100% 0, 100% 20%, 50% 100%, 0 20%, 0 0, 50% 80%);

  &--dark {
    background-color: $color-charcoal;
  }
}
