.faq {
  padding: 60px 206px 60px;

  h2 {
    font-family: "Manrope", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    color: $color-cerulean-blue;
    letter-spacing: -1.6px;

    text-align: center;
    margin: 11px 0 65px;
  }
}
