.hero {
  position: relative;

  display: flex;
  align-items: flex-end;
  min-height: 800px;
  padding: 120px 0 60px 100px;

  @include vp-1199 {
    padding: 100px 0 60px 45px;
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
    padding: 80px 15px 20px;
  }
}
