.link-primary {
  font-family: "Manrope", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: $color-cerulean-blue;
  text-transform: uppercase;
  letter-spacing: -0.5px;

  display: flex;
  align-items: center;
  width: max-content;
  padding: 4px 4px 4px 26px;

  border-radius: 30px;
  border: 1px $color-cerulean-blue solid;
  background-color: $color-transparent;
  gap: 30px;

  transition: all 0.2s;
  user-select: none;

  @include vp-1199 {
    padding: 4px 4px 4px 29px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;

    padding: 4px 4px 4px 19px;
    gap: 21px;
  }

  &:not(.disabled) {
    @include hover {
      color: $color-default-white;
      background-color: $color-cerulean-blue;
      outline: none;

      cursor: pointer;

      .link-primary__link-icon {
        background-color: $color-default-white;
        stroke: $color-cerulean-blue;

        transform: rotate(45deg);
        transition: all 0.3s;
      }
    }

    @include focus {
      color: $color-default-white;
      background-color: $color-cerulean-blue;
      outline: none;

      .link-primary__link-icon {
        background-color: $color-default-white;
        stroke: $color-cerulean-blue;

        transform: rotate(45deg);
        transition: all 0.3s;
      }
    }

    @include active {
      background-color: $color-cerulean-blue;
      color: $color-white-opacity-70;

      .link-primary__link-icon {
        background-color: $color-default-white;
        stroke: $color-cerulean-blue-opacity;

        transform: rotate(45deg);
        transition: all 0.3s;
      }
    }
  }

  &.disabled {
    color: $color-mischka;
    border: 1px $color-mischka solid;

    pointer-events: none;
    cursor: initial;

    svg {
      background-color: $color-mischka;
    }
  }
}

.link-primary__link-icon {
  stroke: $color-default-white;

  width: 46px;
  height: 46px;
  padding: 0 17px;

  border-radius: 44px;
  background-color: $color-cerulean-blue;

  transition: all 0.3s;

  @include vp-767 {
    width: 34px;
    height: 34px;
    padding: 0 13px;
  }
}

.link-primary--small {
  padding: 0;
  border: none;

  .link-primary__link-icon {
    width: 30px;
    height: 30px;
    padding: 0 10px;
  }

  &:not(.disabled) {
    @include hover-focus {
      background-color: $color-default-white;
    }

    @include active {
      background-color: $color-default-white;
    }
  }

  &.disabled {
    background-color: $color-mischka;
  }
}
