.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  padding: 50px 100px;
  margin: 0 auto;

  gap: 26px;
  flex-wrap: wrap;

  @include vp-1199 {
    padding: 35px 45px 50px;
  }

  @include vp-767 {
    padding: 14px 15px 40px;
    gap: 15px;
  }
}

.main-footer__wrapper-primary {
  display: flex;
  align-items: center;
  gap: 51px;

  @include vp-1199 {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 13px;
  }
}

.main-footer__nav-list {
  display: flex;

  max-width: 700px;
  padding: 0;
  margin: 0;

  row-gap: 10px;
  flex-wrap: wrap;
  list-style-type: none;

  @include vp-1199 {
    max-width: 548px;
  }

  @include vp-767 {
    justify-content: center;
    max-width: none;

    column-gap: 31px;
    row-gap: 5px;
  }
}

.main-footer__nav-item:not(:last-child) {
  margin-right: 30px;

  @include vp-1199 {
    margin-right: 16px;
  }

  @include vp-767 {
    margin-right: 0;
  }
}

.main-footer__nav-link {
  font-family: "Manrope", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $color-charcoal;
  letter-spacing: -0.5px;

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.5px;
  }

  &:not(.disabled) {
    @include hover-focus {
      color: $color-cerulean-blue;
      transition: all 0.2s;
    }

    @include active {
      color: $color-endeavour;
      transition: all 0.2s;
    }
  }

  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.main-footer__social-item:not(:last-child) {
  margin-right: 20px;

  @include vp-1199 {
    margin-right: 10px;
  }
}

.main-footer__social-list {
  display: flex;

  max-width: 170px;
  padding: 0;
  margin: 0;

  list-style-type: none;
  row-gap: 15px;
  flex-wrap: wrap;

  @include vp-1199 {
    max-width: 360px;
    order: 1;
  }

  @include vp-767 {
    width: 100%;
    max-width: none;
    justify-content: center;
  }
}

.main-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;

  background-color: $color-cerulean-blue;
  border-radius: 50%;

  @include vp-767 {
    width: 26px;
    height: 26px;
  }

  svg {
    fill: $color-default-white;

    @include vp-767 {
      width: 12px;
      height: 12px;
    }
  }

  &:not(.disabled) {
    @include hover-focus {
      outline: none;

      svg {
        opacity: 0.5;
        transition: all 0.2s;
      }
    }

    @include active {
      background-color: $color-endeavour;
      transition: all 0.2s;

      svg {
        opacity: 1;
        transition: all 0.2s;
      }
    }
  }

  &.disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}

.main-footer__wrapper-secondary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  flex-wrap: wrap;

  @include vp-1199 {
    flex-direction: column;
    width: max-content;
    max-width: 500px;
    align-items: start;
  }

  @include vp-767 {
    text-align: center;
    max-width: 85vw;
    margin: 0 auto;
  }
}

.main-footer__copyright,
.main-footer__copyright-link {
  font-family: "Manrope", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-charcoal;
  letter-spacing: -0.5px;

  @include vp-1199 {
    font-size: 12px;
    line-height: 12px;
  }
}

.main-footer__copyright {
  @include vp-1199 {
    opacity: 0.6;
    order: 1;
  }

  @include vp-767 {
    margin: 0 auto;
  }
}

.main-footer__copyright-link {
  letter-spacing: -0.4px;
  border-bottom: 1px $color-charcoal solid;

  @include vp-1199 {
    margin: 0 0 10px;
  }

  @include vp-767 {
    padding: 0 0 1px;
    margin: 1px auto 12px;
  }

  &:not(.disabled) {
    @include hover-focus {
      color: $color-cerulean-blue;
      border-bottom: 1px $color-cerulean-blue solid;
      transition: all 0.2s;
    }

    @include active {
      color: $color-endeavour;
      border-bottom: 1px $color-endeavour solid;
      transition: all 0.2s;
    }
  }

  &.disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}
