.programs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 60px 100px 121px;

  h2 {
    font-family: "Manrope", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    color: $color-cerulean-blue;
    letter-spacing: -2px;

    margin: 0;
  }
}
