.slider-programs {
  position: relative;

  width: 100%;
  margin: 45px 0 0;

  overflow: hidden;
}

.slider-programs__list {
  padding: 0;
  height: auto;
  margin: 0 0 40px;
  list-style-type: none;
}

.slider-programs__item {
  display: flex;
  align-items: flex-end;
  // Временно
  width: 392px;
  height: 420px;
  // _______________

  padding: 20px 20px 21px;

  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  background-color: $color-overlay-slider;

  &--1 {
    background-image: $color-overlay-slider, url("../img/programs/background-slider-desktop-1.png");

    @media (min-resolution: 2dppx) {
      background-image: $color-overlay-slider, url("../img/programs/background-slider-desktop-1@2x.png");
    }
  }

  &--2 {
    background-image: $color-overlay-slider, url("../img/programs/background-slider-desktop-2.png");

    @media (min-resolution: 2dppx) {
      background-image: $color-overlay-slider, url("../img/programs/background-slider-desktop-2@2x.png");
    }
  }

  &--3 {
    background-image: $color-overlay-slider, url("../img/programs/background-slider-desktop-3.png");

    @media (min-resolution: 2dppx) {
      background-image: $color-overlay-slider, url("../img/programs/background-slider-desktop-3@2x.png");
    }
  }
}

.slider-programs__content-slide {
  h3 {
    position: relative;

    font-family: "Manrope", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: $color-cerulean-blue;
    letter-spacing: -1px;

    width: 194px;
    padding: 13px 0 2px 18px;
    margin: 0;

    background-color: $color-default-white;
    border-radius: 12px 12px 0 0;

    &::after {
    position: absolute;
    bottom: 0;
    right: -18px;

    width: 18px;
    height: 18px;

    background-image: url("../img/svg/angle-small.svg");
    content: "";
    }
  }
}

.slider-programs__under-wrapper {
  display: flex;
  align-items: center;
  min-height: 78px;
  width: 321px;
  padding: 10px 18px 14px;

  background-color: $color-default-white;
  border-radius: 0 12px 12px 12px;


  p {
    font-family: "Manrope", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $color-charcoal;

    margin: 0;

    background-color: $color-default-white;
  }
}

.programs__navigation {
  display: flex;
  justify-content: space-between;
  width: 55px;

  margin: 0 0 0 auto;
}
